
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Products
{% endblock title %}

{% block content %}
   <h1>All products</h1>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="To find" />
   </form>

   <h3>{% current_time '%d-%m-%Y' %}</h3>
   <h3>{% current_time '%H:%M' %}</h3>
   <h3> {{ next_sale|default_if_none:"Sale is coming soon!" }} </h3>
   <hr>
   {% if products %}
       <table>
           <tr>
               <td>Name</td>
               <td>Description</td>
               <td>Category</td>
               <td>Price</td>
               <td>Quantity</td>
           </tr>
           {% for product in products %}
           <tr>
               <td>{{ product.name }}</td>
               <td>{{ product.description|truncatewords:2 }}</td>
               <td>{{ product.category.name }}</td>
               <td>{{ product.price|currency:'usd' }}</td>
               <td>{{ product.quantity }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>There are no products!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}

